# =========================
# OS / Misc
# =========================
.DS_Store
*.log
*.class
*.pyc
*.swp
*~
.history
.svn/
.atom/
.swiftpm/
migrate_working_dir/

# =========================
# IDEs / Editors
# =========================
.idea/
*.iml
*.ipr
*.iws

.vscode/
.project
.settings/
.classpath

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# Docs
**/doc/api/

# =========================
# Android
# =========================
android/local.properties
android/key.properties

android/app/debug
android/app/profile
android/app/release

*.apk
*.aab
*.jks
*.keystore

# Firebase / config
android/app/src/main/res/values/google-services.json

# =========================
# iOS / macOS
# =========================
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/.pbpkg/

DerivedData/

**/ios/Flutter/ephemeral/
**/ios/Pods/
**/ios/.symlinks/

*.mode1v3
*.mode2v3
*.apple_arch
*.apple_keys

# =========================
# Web
# =========================
build/web/

# =========================
# Symbol / Obfuscation
# =========================
app.*.symbols
app.*.map.json

# =========================
# Flutter iOS build cache
# =========================
**/ios/Flutter/.last_build_id

# =========================
# Sensitive files
# =========================
.env*
!.env.example